@{
    ViewData["Title"] = "MY New Home Page !! ";
}

<div class="text-center">
    <h1 class="display-4">Welcome #{Replace_token_variable}# to dev branch</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
