@{
    ViewData["Title"] = "MY Home Page !!";
}

<div class="text-center">
    <h1 class="display-4">Welcome ATUL</h1>
    <h1 class="display-4">Code push from feature to master</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
